/***********************************/
/* BELOW 1344px (Smaller desktops) */
/***********************************/
@media (max-width: 84em) {
  .container {
    max-width: 120rem;
  }

  .who-number {
    font-size: 7.4rem;
  }

  /* .who-text-box .margin-top {
    margin-top: 2.4rem;
  } */

  .text-box-1a2 {
    justify-content: space-around;
  }

  .who-description {
    line-height: 1.6;
  }

  form .btn {
    padding: 0.8rem 8rem;
  }
}

/************************************/
/* BELOW 1200px (Landscape Tablets) */
/************************************/
@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }

  .heading-primary {
    font-size: 3rem;
  }

  .heading-secondary {
    font-size: 2.4rem;
  }

  .heading-tertiary {
    font-size: 2rem;
  }

  .grid {
    column-gap: 4.8rem;
    row-gap: 6.4rem;
  }

  .hero-btn:link,
  .hero-btn:visited {
    padding: 1.2rem 3.2rem;
    font-size: 1.4rem;
  }

  .who-description {
    font-size: 1.6rem;
  }

  .offer-box {
    padding: 1.2rem 1.2rem 3.2rem 1.2rem;
  }

  .best::before {
    content: "bestseller";
    top: 2.5%;
    right: -28%;
  }

  .offer-ment .btn {
    padding: 0.8rem 6.4rem;
  }

  form .btn {
    padding: 0.8rem 6.4rem;
  }
}

/*************************/
/* BELOW 944px (Tablets) */
/*************************/
@media (max-width: 59em) {
  html {
    font-size: 50%;
  }

  .hero-box {
    grid-template-columns: 1fr;
    gap: 6.4rem;
  }

  .hero-text-box {
    padding: 3.2rem;
  }

  .hero-img {
    width: 100%;
  }

  .section-for-who .grid {
    row-gap: 6.4rem;
  }

  .for-who--point {
    font-size: 2.4rem;
  }

  .for-who--img {
    width: 100%;
  }

  .img-box-1::before {
    top: 52%;
  }

  .img-box-1::after {
    top: 48%;
  }

  .img-box-1::before {
    width: 100%;
    padding-bottom: 122%;
  }

  .img-box-1::after {
    width: 100%;
    padding-bottom: 122%;
  }

  .img-box-2::before {
    top: 52%;
  }

  .img-box-2::after {
    top: 48%;
  }

  .img-box-2::before {
    width: 100%;
    padding-bottom: 122%;
  }

  .img-box-2::after {
    width: 100%;
    padding-bottom: 122%;
  }

  .img-box-3::before {
    top: 53.5%;
  }

  .img-box-3::after {
    top: 46.5%;
  }

  .img-box-3::before {
    width: 100%;
    padding-bottom: 66%;
  }

  .img-box-3::after {
    width: 100%;
    padding-bottom: 66%;
  }

  .section-who .grid {
    grid-template-columns: 1fr;
    row-gap: 2.4rem;
  }

  .who-description {
    font-size: 1.8rem;
  }

  .who-img-1 {
    display: none;
  }

  .section-offer .grid--3-cols {
    grid-template-columns: repeat(4, 1fr);
  }

  .section-offer .heading-tertiary {
    font-size: 2.4rem;
  }

  .offer-list {
    font-size: 1.8rem;
    line-height: 1.8;
  }

  .price {
    font-size: 2.4rem;
  }

  .section-offer .btn {
    font-size: 1.8rem;
  }

  .offer-place {
    font-size: 1.8rem;
  }

  .offer-box-1 {
    grid-column: 1 / 3;
  }

  .offer-box-2 {
    grid-column: 3 / 5;
  }

  .offer-box-3 {
    grid-column: 2 / 4;
  }

  .tallent-info {
    grid-column: 2 / 4;
  }

  .best {
    transform: scale(1);
  }

  .best::before {
    content: "najlepszy wybór";
    top: 4%;
    right: -24%;
  }

  .feedback-box {
    height: 25rem;
  }

  .section-feedback .grid--3-cols {
    grid-template-columns: 1fr 1fr;
  }

  .section-feedback .grid {
    gap: 4.8rem;
  }

  .cta {
    grid-template-columns: 3fr 2fr;
  }

  .cta-form {
    grid-template-columns: 1fr;
  }

  form .btn {
    padding: 1.2rem 8rem;
  }
}

/*********************************/
/* BELOW 704px (Smaller tablets) */
/*********************************/
@media (max-width: 44em) {
  .btn-mobile-nav {
    display: block;
    z-index: 9999;
  }

  .main-nav {
    background-color: rgba(255, 255, 255, 0.75);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(10px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);

    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;

    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }

  .header {
    justify-content: end;
  }

  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }

  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }

  .main-nav-list {
    flex-direction: column;
    gap: 4.8rem;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 3rem;
  }

  .section-for-who .grid {
    display: flex;
    flex-direction: column;
  }

  .section-for-who .grid :nth-child(1) {
    order: 1;
  }
  .section-for-who .grid :nth-child(2) {
    order: 3;
  }
  .section-for-who .grid :nth-child(3) {
    order: 2;
  }
  .section-for-who .grid :nth-child(4) {
    order: 4;
  }
  .section-for-who .grid :nth-child(5) {
    order: 6;
  }
  .section-for-who .grid :nth-child(6) {
    order: 5;
  }
  .section-for-who .grid :nth-child(7) {
    order: 7;
  }
  .section-for-who .grid :nth-child(8) {
    order: 8;
  }

  .heading-tertiary {
    font-size: 2.4rem;
  }

  .who-description {
    font-size: 1.8rem;
  }

  .section-offer .grid {
    display: flex;
    flex-direction: column;
  }

  .offer-box {
    padding: 4.8rem;
  }

  .section-offer .grid :first-child {
    order: 2;
  }

  .section-offer .grid :last-child {
    order: 4;
  }

  .best::before {
    top: 6.5%;
    right: -12%;
  }

  .cta {
    grid-template-columns: 1fr;
  }

  .cta-text-box {
    padding: 3.2rem;
  }

  .cta-img-box {
    height: 48rem;
    grid-row: 1;
    background-position: 0 20%;
  }

  .grid-footer {
    grid-template-columns: repeat(3, 1fr);
  }

  .socials {
    grid-row: 2;
    grid-column: 1 / 3;
  }

  .socials .footer-heading {
    margin-bottom: 0;
  }

  .social-icon {
    margin-bottom: 2.4rem;
  }
}

/************************/
/* BELOW 544px (Phones) */
/************************/
@media (max-width: 34em) {
}
