/**********/
/* HEADER */
/**********/
.header {
  height: 8rem;
  padding: 0 4.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-nav-list {
  display: flex;
  align-items: center;
  font-size: 1.8rem;
  list-style: none;
  gap: 4.8rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #6d5e53;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #e4e0e1;
  background-color: #493628;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #675241;
}

/* HERO SECTION */
/* .hero-img {
  width: 100%;
  height: 60rem;
  background-size: cover;
} */
.section-hero {
  margin: 0 auto;
  padding-bottom: 2.4rem;
}

.hero-box {
  grid-template-columns: 1fr 2fr;
  height: 60rem;
}

.motto {
  display: flex;
  align-items: center;
  font-size: 2.4rem;
}

.hero-img-box {
  background-image: url("../IMG/Pic/Event.jpeg");
  background-size: cover;
  transform: scale(0.85);
}

/*******************/
/* FOR-WHO SECTION */
/*******************/
.section-for-who {
  padding: 4.8rem 0;
}

.for-who--box-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.for-who--point {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 700;
  color: #9a8b81;
  letter-spacing: 1.5px;
  margin-bottom: 3.2rem;
}

.for-who--desc {
  font-size: 1.8rem;
  line-height: 1.7;
}

.for-who--box-img {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.for-who--box-img::before {
  content: "";
  display: block;
  position: absolute;
  top: 53.5%;
  left: 52%;
  transform: translate(-50%, -50%);
}

.for-who--box-img::after {
  content: "";
  display: block;
  /* border-radius: 50%; */
  position: absolute;
  top: 46.5%;
  left: 48%;
  transform: translate(-50%, -50%);
}

.for-who--box-img::before {
  width: 90%;
  /* height: 60%; */

  /* 60% of parent's width */
  padding-bottom: 60%;

  background-color: #b3947c;
  z-index: -1;
}

.for-who--box-img::after {
  width: 90%;
  padding-bottom: 60%;
  background-color: #c4ac99;
  z-index: -1;
}

.for-who--img {
  width: 90%;
}

/********************/
/* WHO AM I SECTION */
/********************/
.section-who {
  padding: 4.8rem 0;
}

.text-box-1a2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.who-number {
  font-size: 8.6rem;
  font-weight: 600;
  color: #9a8b81;
  margin-bottom: 1.2rem;
}

.who-description {
  font-size: 1.8rem;
  line-height: 1.8;
  list-style: none;
}

.who-desc-point {
  display: flex;
  flex-shrink: 0;
  gap: 0.8rem;
  padding-bottom: 1.2rem;
}

.who-desc-point:last-child {
  padding-bottom: 0;
}

.icon-check {
  padding-top: 0.4rem;
  height: 2.4rem;
  width: 2.4rem;
  flex-shrink: 0;
  color: #493628;
}

.img-grid {
  display: grid;
  column-gap: 1.2rem;
  row-gap: 1.2rem;
}

.who-img {
  width: 100%;
}

/*****************/
/* OFFER SECTION */
/*****************/
.section-offer {
  padding: 4.8rem 0;
}

.offer {
  column-gap: 3.2rem;
  row-gap: 4.8rem;
}

.offer-box {
  padding: 3.2rem;
  /* border: solid 1px #333; */
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  background-color: #e4e0e1;
  border-radius: 15px;
}

.best {
  border: 4px solid #b585aa;
  transform: scale(1.05);
  position: relative;
  overflow: hidden;
}

.best::before {
  content: "najlepszy wybór";
  position: absolute;
  top: 5%;
  right: -24%;

  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 700;
  color: #333;
  background-color: #ffd43b;
  padding: 0.8rem 8rem;
  transform: rotate(45deg);
}

.offer-title {
  text-align: center;
  margin-bottom: 2.4rem !important;
}

.offer-subtitle {
  font-size: 1.8rem;
  text-align: center;
  font-weight: 500;
  margin-bottom: 4.8rem;
}

.offer-list {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  list-style: none;
  font-size: 1.6rem;
  line-height: 1.5;
}

.offer-point {
  display: flex;
  gap: 0.8rem;
}

.offer-place {
  display: flex;
  gap: 1.2rem;
  font-size: 1.6rem;
  font-weight: 600;
  text-align: center;
  padding: 1.6rem 0;
}

.tallent-info {
  font-size: 1.6rem;
  grid-column: 2 / 3;
  text-align: center;
}

.price {
  font-size: 2rem;
  padding: 1.2rem;
  margin: 3.2rem 0;
  text-align: center;
}

.offer-sign-up {
  text-align: center;
}

/*******************/
/* CONTACT SECTION */
/*******************/
.contact-box {
  padding: 3.2rem;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  text-align: center;
}

.con-icon {
  height: 6.4rem;
  width: 6.4rem;
  color: #493628;
  transition: all 0.3s;
}

.con-icon:hover {
  transform: translateY(-0.5rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
  color: #675241;
}

/***************/
/* CTA SECTION */
/***************/
.section-cta {
  padding: 9.6rem 0 6.4rem 0;
}

.cta {
  display: grid;
  grid-template-columns: 2fr 1fr;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  border-radius: 9px;
  background-image: linear-gradient(to right bottom, #a8719c, #9c5d8d);
  overflow: hidden;
}

.cta .heading-secondary {
  margin-bottom: 3.2rem;
}

.cta-text-box {
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
  color: #524234;
}

.cta-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 4.8rem;
}

.cta-img-box {
  background-image: linear-gradient(
      to right bottom,
      rgba(168, 113, 156, 0.2),
      rgba(156, 93, 141, 0.2)
    ),
    url("../IMG/Domi/domi-6.jpeg");
  background-size: cover;
  background-position: center;
}

.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}

.cta-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.cta-form input,
.cta-form select,
.cta-form textarea {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.6rem;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: #e4e0e1;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.cta-form input::placeholder {
  color: #aaa;
}

.cta *:focus {
  outline: none;
  box-shadow: 0 0 0 0.4rem rgba(253, 242, 233, 0.5);
}

.btn-form {
  margin-top: 2.8rem;
  font-size: 1.8rem;
  cursor: pointer;
}

.btn-form:hover {
  background-color: #e4e0e1;
  color: #493628;
}

.cta-form textarea {
}
